.about-banner {
  /* position: relative; */
  width: 100%;
  background: url(../backgroundImages/img4.jpg);
  /* background-color:black; */
  background-size: contain;
  padding: 45.7vmin 0 15vmin;
}

.main-project {
  padding: 33.7vmin 0 11vmin;
  background-size: cover;
  background-position: center 0;
}

.main-inner {
  position: relative;
  z-index: 1;
  min-height: 0;
  padding: 33.7vmin 0 17vmin;
}

.main {
  position: relative;
  overflow: hidden;
  min-height: 420px;
}

.main-header {
  width: 90%;
  left: -15px;
  display: block;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  text-align: right;
  padding-left: 38.5vmin;
  padding-top: 30.5vmin;
  position: absolute;
}

.main-header h1 {
  color: white;
  margin: 0;
  margin-right: -0.32em;
}

.header {}

.project-title-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2vmin;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 2.2em;
  /* margin-left: -1.8em; */
}

h1,
.h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 8vmin;
  line-height: 1.2;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

h4,
.h4 {
  font-family: 'montserratsemibold';
  font-size: 1.125em;
  line-height: 1.35;
  font-weight: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #3d3d3d;
}

@media (min-width: 768px) {
  .entry {
    padding: 0 7.5em;
  }
}

.entry-title {
  font-size: 3.6em;
  margin: 0 0 1em;
}

.entry-text {
  font-size: 1.5em;
  line-height: 1.6;
  /* text-align: justify; */
}

.objects {
  position: relative;
}

.object-label {
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: gold;
  box-shadow: 0 0 70px 8px rgb(197 164 126 / 75%);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.object-label:active {
  display: block;
}

.object-info {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 40px;
  width: 13.4em;
  margin-left: -6.2em;
  padding: 1.1em 1.3em 3em;
  border: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.show-info {
  display: block;
}

.object-info:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top: 14px solid rgba(0, 0, 0, 0.6);
}

.object-title {
  font-size: 1em;
  font-family: 'montserratsemibold';
  font-weight: normal;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: gold;
  padding: 0 0 1em;
  border-bottom: 1px solid rgba(249, 249, 249, 0.2);
  margin: 0 0 0.5em;
}

.object-content {
  font-family: 'montserratlight', sans-serif;
  font-size: 0.75em;
  line-height: 2.6;
  color: #fff;
  padding: 0;
}

.menu-icon {
  display: none;
  font-size: 20px;
  height: 30px;
  width: 90px;
}

#menu-collapse {
  width: 100%;
  z-index: 4;
  background-color: white;
  display: none;
}

.screen-menu {
  background-color: white;
}

.nav-screen-mobile-sticky {
  display: block !important;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white;
}

@media (min-width: 991px) {

  #menu-collapse {
    display: none !important;
  }

  .nav-screen-mobile-sticky {
    display: none !important;
  }
}

.menu-collapse-sticky {
  position: fixed;
  display: block !important;
}

.menu-items {
  display: block;
  padding-right: 6px;
  padding-left: 4px;
  line-height: 34px;
  padding-top: 6.7rem;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-items .link {
  color: black !important;
}

.menu-items .link:hover {
  color: gold !important;
}

@media (max-width: 991px) {
  .menu-icon {
    display: block;
    right: -2%;
    z-index: 4;
    position: absolute;
    top: 40px;
    color: white;
    cursor: pointer;
  }

  .menu-iconn {
    display: block;
    /* right: -2%; */
    z-index: 4;
    /* position: absolute; */
    top: 30px;
    color: gold;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    padding: 10px;
    width: 90px;
    float: right;
  }

  .cancel {
    top: 5px;
    /* position: fixed; */
    transition: 0.5s;
    color: gold;
  }

  /* .menu-list {
    flex-direction: column;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    right: 0;
    top: 64px;
    transition: all 0.5s ease-in-out;
  }
  .menu-list li:last-child {
    margin-bottom: 0px;
  }

  .menu-list li a,
  .menu-list li:last-child a {
    width: 100px;
    display: block;
    margin: auto;
  }

  .menu-list.close {
    right: -100%;
    transition: all 0.5s ease-in-out;
  } */
}